@import "theme";

$break-small: 360px;

body {
  font-family: $theme-font;
  color: #666;
  background-color: $themeColor-Light;

  #contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: $formColor;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 40px;

    textarea,
    input,
    button {
      border: $inputsBorder;
      border-radius: $inputsBorderRadius;
      transition: 0.3s ease-out;
    }
    textarea,
    input {
      background: #f4f4f4;
      height: 26px;
      font-size: 14px;

      ::placeholder {
        color: #888;
        padding: 10px;
        font-size: 16px;
      }
    }

    .input-wrapper {
      display: flex;
      justify-content: space-between;
      .group-name,
      .group-email {
        width: 45%;
      }
    }

    .send-btn {
      background: $sendBtnBg;
      color: $sendBtnColor;
      border: 0;
      box-shadow: none;
      border-radius: $inputsBorderRadius;
      padding: 15px 40px;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }

    .group {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    .group-message {
      .over-textarea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #counter {
          color: #888;
        }
      }
    }

    .group-submit {
      display: block;
      text-align: right;
    }

    #limitedTextArea {
      height: 250px;
    }
  }
}

@media screen and (max-width: $break-small) {
  body {
    #contact-form {
      padding: 10px;
      .group-submit {
        text-align: center;
      }
      .input-wrapper {
        flex-direction: column;
        .group-name,
        .group-email {
          width: 100%;
        }
      }
    }
  }
}
