$themeColor-Light: #ececea;
$themeColor-Dark:#b68d4c;
$formColor: white;
$sendBtnBg: #6f4cd9;
$sendBtnColor: white;
$inputsBorder: 1px solid #d8d8d8;
$inputsBorderRadius: 5px;
$inputsBg: #eee;
$theme-font:    verdana, sans-serif;

